
-
    var header = '#recent clients'
    var clientList = [
        "/asset/image/client/1.jpg",
        "/asset/image/client/2.jpg",
        "/asset/image/client/3.jpg",
        "/asset/image/client/4.jpg",
        "/asset/image/client/5.jpg",
    ];

#client
.client
    .client__header=header
    .client__list
        each client in clientList
            .client__image